@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Pacifico&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Pacifico&family=Playfair+Display&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Pacifico&family=Playfair+Display&family=Quicksand:wght@300&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}
body{
    background-size: 100vh;
    background-position-x: right;
    background-image: url("Assets/InShot_20200906_120614252.jpg");
    background-blend-mode: darken;
    background-repeat: no-repeat;
}
.close {
    color: black;
    font-weight: 900;
    float: right;
    margin: 1em;
}

.open {
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    color: white;
    background-color: black;
    border-color: black;
}

#nav {
    font-family: "quicksand";
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: .5s;
    margin-top: 0;
    background-color: #f1f1f1;
}

.profile {
    vertical-align: middle;
    width: 150px;
    height: 140px;
    border-radius: 50%;
    margin-top: 4em;
    margin-left: 4em;
    margin-bottom: 1.5em;
}

h3 {
    font-size: 1.6em;
    margin-bottom: 0.2em;
    text-align: center;
    margin-left: -1em;
}

.title {
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 1.5em;
}

.navbar ul a li {
    color: black;
    list-style: none;
    margin-bottom: 1em;
    font-size: 0.8em;
    text-transform: uppercase;
    text-align: center;
    margin-left: -4em;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(0, 183, 255);
    text-decoration-thickness: 1px;
}

.foot {
    margin-top: 2em;
    color: rgb(85, 84, 84);
    font-size: 0.8em;
    text-align: center;
}

#main {
    transition: margin-left .5s;
    height: 100vh;
    /* background-size: contain;
    background-position: right; */
    /* background-image: url("Assets/InShot_20200906_120614252.jpg");
    background-repeat: no-repeat; */
    /* float: right; */
    background-image: linear-gradient(90deg,black 59%,transparent 50%);
}
.name{
    color: white;
    font-family: "roboto";
    text-align: justify;
    margin-top: 10em;
    margin-left: 8em;
}
h1{
    font-size: 114px;
    font-family: "";
    font-weight: 900;
}
h2{
    font-size: 48px;
    font-weight: thin;
}
.dev{
    color:rgb(0, 183, 255) ;
    margin-left: 0.5em;
}